body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1F2937;
    padding: 0px 15%;
}

.herocolor{
    color: #F9FAF8;
}

.callcolor{
    color: white;
    background-color: #3882f6;
    border-color: whitesmoke;
    height: 40px;
    width: 120px;
    border-radius: 10px;
}

.toprow{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .headerlogo{
        font-size: 24px;
        font-weight: bold;
    }


    .heroText{
        font-size: 18px;
        color: #e5e7eb;
    }

    .linkList{
        display: flex;
        justify-content: flex-end;
    }

.herolink{
    margin: 0px 0px 0px 30px;
}

.headmain{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero{
    font-size: 48px;
    font-weight:950;
}

.headcontent {
    margin: 0px 15px 40px 0px;
    display: inline-block;
    width: 50%;
}

.codepic{
    background-color: white;
    border-radius: 20px;
    margin: 50px 0px 40px 15px;
    width: 50%;
    height: 250px;    
}

.slideshowRubrik{
    text-align: center;
}

.slideshow{
    padding: 24px 0px 30px 0px;
}

.slideshowcontent{
    display: flex;
    justify-content: center;
}

.slideRubrik{
    font-size: 36px;
    font-weight: 950;
}

.slidebox{
    margin: 10px;
    width: 150px;
    
}

.slidebild{
    border-radius: 15px;
    border-color: #3882f6;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    width: 150px;
    height: 150px;
}

.bild1{
    object-fit: cover;
}

.bildtext{
    text-align: center;
}

.citat{
    font-size: 36px;
    padding: 64px 30% 64px;
    background-color: darkgray;
}

.citatkälla{
    text-align: right;
}

.calltoaction{
    margin: 120px 25%;
    background-color: darkgray;
    padding: 16px 36px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.callbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 24px 0px 48px 0px;
    background-color: #1F2937;
}